.hero {
  margin-top: -35px;

  @include tablets {
    display: none;
  }
}

.hero__container {
  position: relative;
  min-height: 300px;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: none;
}